/*-------------- анимировать переходы----------- */
@keyframes fadeIn {
	from { opacity: 0; transform: scale(0.7); }
}

  
.contentView.ng-enter {
	animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeIn;
	-moz-animation-duration: 0.7s;
	-moz-animation-name: fadeIn;
	-moz-animation-fill-mode: both;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
}




