body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,  
pre, form, fieldset, input, textarea, p, blockquote, th, td {  
  padding: 0; 
  margin: 0; 
  } 
fieldset, img {  
  border: 0; 
  } 
table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  } 
ol, ul { 
  list-style: none; 
  } 
address, caption, cite, code, dfn, em, strong, th, var { 
  font-weight: normal; 
  font-style: normal; 
  } 
caption, th { 
  text-align: left; 
  } 
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal; 
  font-size: 100%; 
  } 
q:before, q:after { 
  content: ''; 
  } 
abbr, acronym {  
  border: 0; 
  } 



a {
	text-decoration: none;
}
.header-bottom, .header-top, .content, footer {
	padding: 0 20px;
	
}




.positioner {
	border: 1px solid red;
	margin: 0 auto;
	max-width:700px;
}
.column-left {
	background-color: yellow;
	margin-right: 150px;
}
.column-right {
	float:right;
	background-color: grey;
	width: 150px;
}


.positioner:after {
	content:'';
	display:table;
	clear: both;
}


header {
}

.header-top {
	background-color:red;
	height:100px;
	
	margin: 0 auto;
	
}
.header-bottom  {
	margin: 0 auto;
	background-color: green;
}

.header-top .main-baner {
	background-color: orange;
	
	width:95px;
	height:95px;
	float:left
	
}
nav .togle-button {
	display: none;
	border: 1px solid green;
}

.header-top .main-menu {
	margin:0;
	background-color: orange;
	float:right;
	margin-top: 45px;
}


.header-top .main-menu li {
	display: inline-block;
	border: 1px solid red;
	margin: 0 5px;
}

.content {
	padding-top:10px;
	background-color: blue;
	margin: 0 auto;
	min-width:100px;

}


footer {
	background-color: green;
	min-height:100px;
	margin: 0 auto;
}

@media screen and (max-width: 480px) {
	.positioner {
		border: 1px solid red;
		margin: 0 auto;
	
	}
	.column-left {
		background-color: yellow;
		margin-right: 0;
	}
	.column-right {
		width:auto;
		float:none;
	}
	.header-top .main-menu {
		
	}
	
	
	nav .togle-button {
		display: block;
		float:right;
		margin-right: 30px;
	}

	.header-top .main-menu {
		display:none;
		float: none;
	}
	.active {
		display:block !important;
		position:fixed !important;
		margin:0 !important;
		
		top:30px;
		left:0;
		width:100%;
	
	}
	.header-top {
		position:fixed;
		width: 100%;
	}
	.header-top .main-menu li {
		display: block;
		
	}
}